{
  "env": {
    "mocha": true,
    "node": true,
    "jest": true,
  },

  "globals": {
    "BufferEncoding": "readonly",
  },

  "root": true,

  "plugins": ["@typescript-eslint", "json", "promise", "import", "prettier"],

  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:json/recommended",
    "plugin:promise/recommended",
    "plugin:import/typescript",
    "prettier",
  ],

  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true,
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"],
    },
  },

  "parser": "@typescript-eslint/parser",

  "rules": {
    "node/no-missing-import": "off",
    "node/no-unpublished-import": "off",
    "prettier/prettier": "warn",
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
      },
    ],
    "sort-vars": ["warn", { "ignoreCase": true }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-unresolved": "error",
  },

  "ignorePatterns": ["dist", "**/*.d.ts"],
}
