# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# production
/dist

# dependencies
/node_modules

# app special files
.profiles
.mnemonics.json
reports/
!src/**/*
master_key
.apprc
.secretsrc
.secrets